.form-container{
    background: rgba(20, 21, 24, 0.52);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    width: 400px;
    padding: 40px;
    border: 2px solid var(--secondary-grey);
}

.form-title{
    text-align: center;
    margin-bottom: 24px;
}

.form-title span{
    font-size: 34px ;
    font-weight: 900;
    color: var(--primary-grey);
}

.form-inputs-wrapper{
    display: flex;
    flex-direction: column;
    gap: 14px;
}