.btn{
    display: block;
    border: none;
    min-width: 100px;
    width: 100%;
    background: #5942FF;
    color: whitesmoke;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 2px;
    border-radius: 6px;
}