.input-container{
    display: inline-flex;
    align-items: center;
    background: transparent;
    padding: 6px 20px 6px 6px;
    min-width: 250px;
    border: 1px solid rgba(86, 86, 88, 0.52);
    border-radius: 6px;
}

.input-logo{
    width: 20px;
    height: 20px;
    margin: 0 20px;
    color: #797979;
}

.input-field{
    display: inline-flex;
    height: 30px;
    width:  90%;
    background: transparent;
    outline: none;
    border: none;
    color: #797979;
    font-size: 16px;
}